@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .mobile-body-area .no-scrollbar::-webkit-scrollbar,
  .mobile-body-table-top .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .mobile-body-area .no-scrollbar,
  .mobile-body-table-top .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
/* custom globals */
.absolute {
  position: absolute;
}
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fffbeb !important;
}
/* Header */
.header-body {
  max-width: 1440px;
  padding: 30.5px 80px;
}
.header-nav nav ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  gap: 16px;
}
.header-nav nav ul li {
  list-style-type: none;
}
.header-nav nav ul li a {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #78350f;
  text-decoration: none;
  padding: 8px 12px;
}
.header-nav nav .sign-up-nav {
  padding: 12px 28px;
  border: 2px solid #78350f;
  border-radius: 8px;
}
.header-nav img {
  display: none;
}
.triple-products {
  background-color: #0f172a;
}

/* Main Area */
.main-area {
  overflow: hidden;
  position: relative;
}
.main-area-body {
  max-width: 1440px;
  padding: 80px;
  z-index: 2;
  position: relative;
}
.main-area-flex {
  position: relative;
  z-index: 5;
}
.main-area-body-left h1 {
  font-family: Roboto;
  font-size: 72px;
  font-weight: 800;
  line-height: 79.2px;
  margin-bottom: 32px;
}
.main-area-body .main-area-body-left h2 {
  font-family: Roboto;
  font-size: 72px;
  font-weight: 800;
  line-height: 79.2px;
  margin-bottom: 32px;
}
.main-area-body .main-area-body-left p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  margin-bottom: 32px;
}
.main-area-body .main-area-body-left .sign-up-main {
  padding: 16px 32px;
  color: #78350f;
  border: 2px solid #78350f;
  border-radius: 8px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-decoration: none;
}
.main-area-body .main-area-body-left button {
  padding: 16px 26px;
  color: #78350f;
  border-radius: 8px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-decoration: none;
  border: 0;
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-area-body .main-area-body-left button img {
  max-width: 20px;
  max-height: 20px;
  margin-right: 8px;
}
.main-area-body .main-area-body-right img {
  max-width: 486px;
  max-height: 388px;
  position: relative;
  z-index: 3;
}
.main-area-body .main-area-body-right .yellow-shoe-bg {
  background-color: #fbbf24;
  width: 367px;
  height: 372px;
  border-radius: 50px;
  position: absolute;
  margin: auto;
  left: -14px;
  right: 0;
  bottom: 0;
  top: 87px;
  z-index: 2;
}
.rectangle-main {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.main-area-bottom {
  margin-top: 195px !important;
  position: relative;
  z-index: 2;
  gap: 80px;
}
.main-area-bottom .position-relative {
  width: max-content;
}
.main-area-bottom-1 .position-relative img:nth-child(2) {
  position: absolute;
  right: -23px;
  top: 0;
}
.main-area-bottom-2 .position-relative img:nth-child(2) {
  position: absolute;
  right: 1px;
  top: 0;
}
.main-area-bottom-3 .position-relative img:nth-child(2) {
  position: absolute;
  right: -23px;
  top: 0;
}
.main-area-bottom h6 {
  margin-top: 26.67px;
  margin-bottom: 16px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}
.main-area-bottom p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
}

/* The best of the best - triple-images */
.triple-products {
  padding: 80px;
}
.triple-products h2 {
  font-family: Roboto;
  font-size: 56px;
  font-weight: 800;
  line-height: 61.6px;
  color: white;
}
.sign-up-white {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: white;
  padding: 20px 48px;
  border: 2px solid white;
  border-radius: 8px;
  text-decoration: none;
  display: block;
  width: max-content;
  margin-left: auto;
}
.triple-products-item {
  box-shadow: 0px 0px 15px 0px #ffffff12;
  box-shadow: 0px 25px 50px -12px #ffffff40;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  z-index: 2;
  background-color: #0f172a;
}
.triple-products-body-content {
  margin-top: 80px;
  position: relative;
}
.triple-products-item-content {
  padding: 32px;
}
.triple-products-body-content h6 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 26.4px;
  margin-bottom: 16px;
  color: white;
}
.triple-products-body-content p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  margin-bottom: 32px;
  color: white;
}
.triple-products-body-content a {
  text-decoration: none;
  color: white;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 2px solid white;
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.triple-products-body-content a img {
  margin-right: 16px;
}
.triple-products-body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px;
}
.rectangle-absolute {
  position: absolute;
}
.triple-products-body-content {
  gap: 48px;
}
img.rectangle-absolute.rectangle-pink-big {
  left: -35px;
  bottom: 25px;
  opacity: 75%;
}
img.rectangle-absolute.rectangle-blue-big {
  left: 33%;
  top: -30px;
  opacity: 75%;
}
img.rectangle-absolute.rectangle-brown-big {
  left: 56.6%;
  bottom: 32px;
  opacity: 75%;
}
img.rectangle-absolute.rectangle-purple-big {
  right: 7%;
  bottom: -26px;
  opacity: 75%;
}
img.rectangle-absolute.rectangle-green-big {
  right: -35px;
  top: 25px;
  opacity: 75%;
}

/* why join us */
section.why-join-us {
  margin: 160px 0;
}
.why-join-us-body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 73px 80px;
  background: white;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 0px #00000012;
  box-shadow: 0px 25px 50px -12px #00000040;
}
section.why-join-us h2 {
  font-family: Roboto;
  font-size: 56px;
  font-weight: 800;
  line-height: 61.6px;
  color: #0f172a;
  margin-bottom: 24px;
}
section.why-join-us ul {
  margin: 0;
  padding: 0;
  margin-bottom: 24px !important;
}
section.why-join-us ul li {
  list-style-type: none;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  color: #0f172a;
}
section.why-join-us ul li img {
  margin-right: 13.44px;
}
section.why-join-us .sign-up {
  padding: 16px 32px;
  border: 2px solid #78350f;
  border-radius: 8px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #78350f;
  text-decoration: none;
  display: block;
  width: max-content;
}
img.why-join-us-image {
  border-radius: 20px;
  position: relative;
  z-index: 3;
  box-shadow: 0px 0px 15px 0px #00000012;
  box-shadow: 0px 25px 50px -12px #00000040;
  cursor: pointer;
}
.why-join-us-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.why-join-us-video-area {
  width: max-content;
  margin-left: auto;
}
img.absolute.absolute-orange {
  top: 25px;
  left: -20px;
  opacity: 75%;
}
img.absolute.absolute-yellow {
  top: 0;
  right: -22px;
  bottom: 0;
  margin: auto;
}
img.absolute.absolute-green {
  left: 70px;
  bottom: -36px;
  z-index: 4;
  opacity: 75%;
}
img.absolute.absolute-pink {
  bottom: -109px;
  right: -118px;
  opacity: 75%;
}
img.absolute.absolute-purple {
  bottom: -44px;
  right: 63px;
  opacity: 75%;
}
img.absolute.absolute-blue {
  top: -88px;
  right: 23px;
  opacity: 75%;
}

/* they-love-us */

.they-love-us-body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px 0;
}
section.they-love-us h2 {
  font-family: Roboto;
  font-size: 56px;
  font-weight: 800;
  line-height: 61.6px;
  color: #0f172a;
}
section.they-love-us img.swipe-arrow-left,
section.they-love-us img.swipe-arrow-right {
  max-width: 48px;
  max-height: 48px;
  cursor: pointer;
}

.they-love-us-head {
  margin-bottom: 40px;
  padding: 0 80px !important;
  align-items: center;
  width: 100%;
}
.they-love-us-swiper {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.they-love-us-swiper .swiper-item {
  box-shadow: 0px 0px 6px 0px #00000012;
  box-shadow: 0px 10px 15px -3px #0000001a;
  background: white;
  border-radius: 8px;
  padding: 48px 32px 32px 32px;
  max-width: 384px;
}
.they-love-us-swiper .swiper-item .swiper-img {
  margin-bottom: 32px;
}
.they-love-us-swiper .swiper-item .swiper-avatar {
  margin-right: 16px;
  max-width: 64px;
  max-height: 64px;
}
.they-love-us-swiper .swiper-item p {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 38.4px;
  margin-bottom: 32px;
}
.they-love-us-swiper .swiper-item .flex-col {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.they-love-us-swiper .swiper-item .flex-col span {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #475569;
}
.they-love-us-swiper .swiper-backface-hidden .swiper-slide {
  padding: 18px 0px;
}
.they-love-us-swiper .swiper {
  margin-top: 12px;
}
.they-love-us-swiper {
  position: relative;
}
span.they-love-us-swiper-bg {
  background: #fde68a;
  width: 97%;
  height: 421px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

/* .grow-your-collection */
.grow-your-collection-body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px 80px 233px 80px;
  position: relative;
}
.grow-your-collection-body h2 {
  font-family: Roboto;
  font-size: 56px;
  font-weight: 800;
  line-height: 61.6px;
  color: #0f172a;
  margin-bottom: 32px;
}
.grow-your-collection-head {
  margin-bottom: 80px;
  z-index: 2;
  position: relative;
}
.grow-your-collection-head p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
}
.collection-tab-links ul {
  margin: 0;
  padding: 0;
}
.collection-tab-links ul li {
  list-style-type: none;
  margin-bottom: 16px;
}
.collection-tab-links ul li img {
  max-width: 20px;
  max-height: 20px;
}
.collection-tab-links ul li img:first-child {
  margin-right: 20px;
}
.collection-tab-links ul li img:last-child {
  margin-left: auto;
  display: none;
}
.collection-tab-links ul li button {
  transition: 0.3s all;
  padding: 16px 21px 16px 18.5px;
  border-radius: 8px;
}
.collection-tab-links ul li .nav-active img:last-child {
  display: inline-block;
}
.collection-tab-links ul li .nav-active {
  box-shadow: 0px 0px 4px 0px #00000012;
  box-shadow: 0px 4px 6px -1px #0000001a;
  background: white;
  transition: 0.3s all;
}
.collection-tab-links ul li button {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  background: transparent;
  border: 0;
  outline: none;
  text-wrap: nowrap;
  min-width: 261px;
  text-align: left;
  display: flex;
  align-items: center;
}
.grow-your-collection-content {
  position: relative;
  z-index: 2;
}
.grow-your-collection-content-flex {
  gap: 80px;
}
.collection-tab-content-item {
  display: none;
}
.collection-tab-links {
  min-width: 261px;
}
.content-item-active {
  display: block !important;
}
img.collection-tab-content-item-img-1 {
  border-radius: 20px;
  box-shadow: 0px 0px 15px 0px #00000012;
  box-shadow: 0px 25px 50px -12px #00000040;
}
img.collection-tab-content-item-img-2 {
  position: absolute;
  left: 94px;
  top: 105px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 0px #00000012;
  box-shadow: 0px 25px 50px -12px #00000040;
}
img.collection-tab-content-item-img-3 {
  bottom: -37px;
  position: absolute;
  right: 0;
  border-radius: 14px;
  box-shadow: 0px 0px 15px 0px #00000012;
  box-shadow: 0px 25px 50px -12px #00000040;
}
.collection-tab-content {
  width: 100%;
}
.waves {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/* Map */
.collected-shoes-body {
  max-width: 1440px;
  margin: 0 auto;
  background: #78350f;
}
.map-area-item {
  position: absolute;
  z-index: 9;
}
.map-area-text h2 {
  font-family: Roboto;
  font-size: 96px;
  font-weight: 800;
  line-height: 105.6px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: max-content;
}
.map-area-text h2 span {
  font-family: Roboto;
  font-size: 56px;
  font-weight: 800;
  line-height: 61.6px;
}
.map-area-text {
  width: max-content;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: max-content;
  margin: auto;
}
.map-area {
  position: relative;
  margin: 0 auto;
  width: max-content;
}
.map-area-item.map-pin-1 span {
  width: 32px;
  border-radius: 100%;
  height: 32px;
  border: 3px solid #a3e635;
  display: block;
  transition: 0.3s all;
  background: transparent;
  cursor: pointer;
}
.map-area-item.map-pin-1 span:hover,
.map-area-item.map-pin-2 span:hover,
.map-area-item.map-pin-3 span:hover,
.map-area-item.map-pin-4 span:hover,
.map-area-item.map-pin-5 span:hover,
.map-area-item.map-pin-6 span:hover,
.map-area-item.map-pin-7 span:hover,
.map-area-item.map-pin-8 span:hover,
.map-area-item.map-pin-9 span:hover,
.map-area-item.map-pin-10 span:hover {
  background: #d9f99d !important;
  transition: 0.3s all;
}
.map-pin-active span {
  background: #d9f99d !important;
  transition: 0.3s all;
}
.map-area-item-body {
  flex-direction: column;
  align-items: center;
  display: none;
}
.map-area-item-text p {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  color: #0f172a;
  padding: 16px 16px 8px;
  background: #e2e8f0;
  border-radius: 5px;
  max-width: 250px;
  margin-top: -8px;
  z-index: 1;
  position: relative;
  box-shadow: 0px 0px 15px 0px #00000012;
  box-shadow: 0px 25px 50px -12px #00000040;
}
.map-area-item-img {
  position: relative;
  z-index: 2;
}
.map-area-item.map-pin-1 {
  top: 228px;
  width: max-content;
  left: 141px;
}
.map-pin-active .map-area-item-body {
  display: flex;
  transform: translateX(-50%) translateY(0px);
  position: absolute;
  bottom: 4%;
  width: max-content;
  left: 50%;
  cursor: pointer;
  transition: 0.6s all;
  opacity: 1;
}
.map-area-item-body {
  transition: 0.6s all;
  display: table-column-group;
  opacity: 0;
  transform: translateX(-50%) translateY(-44px);
}
.map-area-item-text p:after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  background: #e2e8f0;
  position: absolute;
  bottom: -3px;
  right: 0;
  left: 0;
  margin: auto;
}
.map-area-item.map-pin-2 span {
  width: 24px;
  border-radius: 100%;
  height: 24px;
  border: 3px solid #a3e635;
  display: block;
  transition: 0.3s all;
  background: transparent;
  cursor: pointer;
}
.map-area-item.map-pin-3 span {
  width: 24px;
  border-radius: 100%;
  height: 24px;
  border: 3px solid #a3e635;
  display: block;
  transition: 0.3s all;
  background: transparent;
  cursor: pointer;
}
/* map pins */
.map-area-item.map-pin-2 {
  left: 210px;
  top: 298px;
}
.map-area-item.map-pin-3 {
  left: 324px;
  bottom: 111px;
}
.map-area-item.map-pin-4 span {
  width: 16px;
  border-radius: 100%;
  height: 16px;
  border: 3px solid #a3e635;
  display: block;
  transition: 0.3s all;
  background: transparent;
  cursor: pointer;
}
.map-area-item.map-pin-4 {
  left: 371px;
  bottom: 149px;
}
.map-area-item.map-pin-5 span {
  width: 30px;
  border-radius: 100%;
  height: 30px;
  border: 3px solid #a3e635;
  display: block;
  transition: 0.3s all;
  background: transparent;
  cursor: pointer;
}
.map-area-item.map-pin-5 {
  left: 328px;
  top: 168px;
}
.map-area-item.map-pin-6 span {
  width: 16px;
  border-radius: 100%;
  height: 16px;
  border: 3px solid #a3e635;
  display: block;
  transition: 0.3s all;
  background: transparent;
  cursor: pointer;
}
.map-area-item.map-pin-6 {
  left: 413px;
  top: 67px;
}
.map-area-item.map-pin-7 span {
  width: 25px;
  border-radius: 100%;
  height: 25px;
  border: 3px solid #a3e635;
  display: block;
  transition: 0.3s all;
  background: transparent;
  cursor: pointer;
}
.map-area-item.map-pin-7 {
  right: 440px;
  bottom: 176px;
}
.map-area-item.map-pin-8 span {
  width: 24px;
  border-radius: 100%;
  height: 24px;
  border: 3px solid #a3e635;
  display: block;
  transition: 0.3s all;
  background: transparent;
  cursor: pointer;
}
.map-area-item.map-pin-8 {
  right: 240px;
  bottom: 270px;
}
.map-area-item.map-pin-9 span {
  width: 16px;
  border-radius: 100%;
  height: 16px;
  border: 3px solid #a3e635;
  display: block;
  transition: 0.3s all;
  background: transparent;
  cursor: pointer;
}
.map-area-item.map-pin-9 {
  right: 147px;
  bottom: 288px;
}
.map-area-item.map-pin-10 span {
  width: 24px;
  border-radius: 100%;
  height: 24px;
  border: 3px solid #a3e635;
  display: block;
  transition: 0.3s all;
  background: transparent;
  cursor: pointer;
}
.map-area-item.map-pin-10 {
  right: 115px;
  bottom: 121px;
}
/* Footer */
footer {
  background: #0f172a;
}
.footer-body {
  max-width: 1440px;
  padding: 48px 80px;
}
footer ul li {
  list-style-type: none;
}

footer ul {
  padding: 0;
  margin: 0;
}
footer h6 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 17.6px;
  color: white;
  padding: 12px 0;
}
.footer-main-links a {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #e2e8f0;
  padding: 12px 0;
  display: block;
  text-decoration: none;
  max-width: max-content;
}
.footer-app-links {
  margin-bottom: 56px;
}
.footer-app-links li:nth-child(2) {
  margin-bottom: 8px;
}
.footer-app-links .appstore {
  padding: 3.87px 0;
  display: block;
  max-width: max-content;
  margin-bottom: 8px;
}
.footer-app-links .googleplay {
  padding: 3px 0;
  display: block;
  max-width: max-content;
}
.follow-us a {
  text-decoration: none;
  color: white;
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.follow-us .d-flex {
  gap: 16px;
}
.copyright {
  padding-top: 48px !important;
  margin-top: 24px !important;
  display: block;
  border-top: 1px solid #334155;
}
.copyright p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: white;
  margin: 0 !important;
}
.copyright ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 32px;
  align-items: center;
}
.copyright ul li {
  list-style-type: none;
}
.copyright ul li a {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #e2e8f0;
  padding: 12px;
  text-decoration: none;
  display: block;
}
.copyright button {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #e2e8f0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  border: 0;
  outline: none;
}
/* 
@font-face {
  font-family: 'ISCBold';
  src: url('/fonts/InstrumentSans_Condensed-Bold.ttf') format('truetype');
} */

/* Media Queries */
@media (max-width: 1440px) {
  main {
    overflow: hidden;
  }
}
@media (max-width: 1366px) and (min-width: 1200px) {
  img.collection-tab-content-item-img-2 {
    left: 44px;
    top: 52px;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  img.collection-tab-content-item-img-1 {
    max-width: 100%;
  }
  img.collection-tab-content-item-img-2 {
    max-width: 100%;
  }
}
@media (max-width: 992px) {
  .header-nav img {
    display: block;
  }
  .header-nav nav {
    display: none;
  }
  .header-body,
  .main-area-body {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (max-width: 992px) and (min-width: 769px) {
  .main-area-body .main-area-body-right .yellow-shoe-bg {
    width: 260px;
    height: 272px;
    top: 60px;
  }
  .main-area-body .main-area-body-right img {
    max-width: 330px;
  }
}
@media (max-width: 1024px) and (min-width: 769px) {
  .triple-products-body {
    padding: 0;
  }
  .triple-products h2 {
    font-size: 40px;
  }
  .sign-up-white {
    font-size: 20px;
    padding: 15px 27px;
  }
  .triple-products-item-content {
    padding: 19px;
  }
  .triple-products-body-content p {
    font-size: 15px;
    margin-bottom: 16px;
    color: white;
  }
  .triple-products-body-content a {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media (max-width: 768px) {
  body {
    background-color: white !important;
  }
  body .main-area-flex {
    flex-direction: column !important;
  }
  .main-area-body-left h1 {
    font-family: Roboto;
    font-size: 56px;
    font-weight: 800;
    line-height: 61.6px;
    text-align: center;
    margin-bottom: 32px;
  }
  .main-area-body .main-area-body-left p {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: center;
  }
  .main-area-body-left .d-flex {
    justify-content: center;
  }
  .main-area-body-left {
    margin-bottom: 32px;
  }
  .main-area-body .main-area-body-right img {
    max-width: 361px;
  }
  .main-area-body .main-area-body-right .yellow-shoe-bg {
    width: 272.61px;
    height: 276.32px;
    top: 73px;
  }
  body .main-area-bottom {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    margin-top: 140px !important;
  }
  .main-area-bottom .position-relative {
    margin: 0 auto;
  }
  .main-area-body .main-area-body-left .sign-up-main {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-wrap: nowrap;
    align-items: center;
    display: flex;
  }
  .main-area-body .main-area-body-left button {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
  }
  .triple-products {
    padding: 48px 16px;
  }
  .triple-products-body {
    padding: initial;
  }
  .triple-products h2 {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 700;
    line-height: 35.2px;
    text-align: center;
    margin-bottom: 32px;
  }
  .sign-up-white {
    margin: auto;
  }
  .triple-products-body-content {
    flex-direction: column;
  }
  img.rectangle-absolute.rectangle-blue-big {
    right: -4%;
    top: 45%;
    opacity: 75%;
    border-radius: 53px;
    max-width: 120.06px;
    max-height: 120.26px;
    left: initial;
  }
  img.rectangle-absolute.rectangle-green-big {
    display: none;
  }
  img.rectangle-absolute.rectangle-pink-big {
    left: 20.54px;
    top: 20.5%;
    opacity: 75%;
    max-width: 202.09px;
    border-radius: 50px;
    max-height: 202.09px;
  }
  img.rectangle-absolute.rectangle-purple-big {
    right: initial;
    left: -16px;
    bottom: 19%;
    opacity: 75%;
    max-width: 150.64px;
    max-height: 150.64px;
    border-radius: 30px;
  }
  .triple-products-body-content {
    gap: 32px;
  }
  section.why-join-us {
    margin: 16px 0;
    padding: 0 16px;
  }
  .why-join-us-body {
    padding: 32px 16px;
  }
  section.why-join-us h2 {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 700;
    line-height: 35.2px;
    text-align: center;
  }
  section.why-join-us ul li {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    margin-bottom: 8px;
  }
  section.why-join-us .sign-up {
    margin: 0 auto;
    position: relative;
    z-index: 4;
  }
  .why-join-us-video-area {
    margin-top: 32px;
  }
  .why-join-us-video-area {
    width: 100%;
  }
  img.why-join-us-image {
    width: 100%;
  }
  img.absolute.absolute-yellow {
    max-width: 375px;
  }
  img.absolute.absolute-orange {
    top: 25px;
    left: -20px;
    opacity: 100%;
    border-radius: 100%;
    max-width: 55.56px;
    max-height: 55.5px;
  }
  img.absolute.absolute-blue {
    top: -56px;
    right: 4px;
    opacity: 75%;
    max-width: 36.42px;
    border-radius: 100%;
  }
  img.absolute.absolute-green {
    left: 43px;
    bottom: -18.8px;
    z-index: 4;
    opacity: 75%;
    max-width: 49px;
  }
  img.absolute.absolute-purple {
    bottom: -19.26px;
    right: 56.43px;
    opacity: 75%;
    border-radius: 100%;
    max-width: 45.69px;
  }
  img.absolute.absolute-pink {
    bottom: -59.39px;
    right: -55.31px;
    opacity: 75%;
    max-width: 134.59px;
    border-radius: 50px;
  }
  body .they-love-us-head {
    margin-bottom: 16px !important;
    padding: 0 16px !important;
  }
  section.they-love-us h2 {
    font-family: Roboto;
    font-size: 32px !important;
    font-weight: 700 !important;
    line-height: 35.2px !important;
    text-align: center !important;
    width: 100%;
  }
  body .they-love-us-head .gap-2 {
    display: none !important;
  }
  span.they-love-us-swiper-bg {
    width: 100%;
    height: 277px;
  }
  .they-love-us-swiper .swiper-backface-hidden .swiper-slide {
    padding: 0px 0px 18px 0px;
  }
  .they-love-us-swiper .swiper-item p {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
  }
  .they-love-us-swiper .swiper-item {
    background: white;
    border-radius: 20px;
    padding: 40px 24px 24px 24px;
    box-shadow: 0px 0px 6px 0px #00000012;
    box-shadow: 0px 10px 15px -3px #0000001a;
  }
  .grow-your-collection-body {
    padding: 0 16px;
    padding-bottom: 91px;
  }
  .grow-your-collection-body h2 {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 700;
    line-height: 35.2px;
    text-align: center;
    margin-bottom: 32px;
  }
  .grow-your-collection-head p {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: center;
    margin-bottom: 32px;
  }
  body .grow-your-collection-content-flex {
    flex-direction: column !important;
  }
  .collection-tab-links ul {
    display: flex;
    overflow-x: scroll;
  }
  img.collection-tab-content-item-img-2 {
    left: 36px;
    top: 57px;
    border-radius: 10px;
    max-width: 100%;
    max-width: 295px;
    max-height: 202px;
  }
  img.collection-tab-content-item-img-1 {
    max-width: 291px;
    max-height: 202px;
    border-radius: 10px;
  }
  img.collection-tab-content-item-img-3 {
    max-width: 95px;
  }
  .collection-tab-links {
    overflow: scroll;
    max-width: 100%;
  }
  .grow-your-collection-content-flex {
    gap: 32px;
  }
  .waves {
    max-width: 100%;
  }
  .map-area-text h2 {
    font-family: Roboto;
    font-size: 48px;
    font-weight: 800;
    line-height: 52.8px;
    text-align: center;
  }
  .map-area-text h2 span {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 700;
    line-height: 35.2px;
    text-align: center;
  }
  .footer-body {
    padding: 48px 16px;
    text-align: center;
    justify-content: center;
  }
  .footer-main-links a {
    margin: 0 auto;
  }
  .footer-main-links {
    margin-bottom: 48px;
  }
  .footer-app-links .appstore,
  .footer-app-links .googleplay {
    margin-left: auto;
    margin-right: auto;
  }
  .follow-us .d-flex {
    justify-content: center;
  }
  .copyright .d-flex {
    flex-direction: column !important;
  }
  body .copyright p {
    margin-bottom: 24px !important;
  }
  .copyright ul {
    gap: 16px;
    align-items: center;
    justify-content: center;
  }
  img.triple-products-item-img {
    width: 100%;
  }
  .collection-tab-links ul li button {
    min-width: initial;
  }
  .collection-tab-links ul li img:last-child {
    display: none !important;
  }
  .map-area-text {
    width: max-content;
    position: absolute;
    left: 21vw;
    top: 0;
    right: 0;
    bottom: 0;
    height: max-content;
    margin: initial;
    z-index: 9;
    margin: auto;
    margin-left: initial !important;
  }
  .map-img {
    margin-left: 22.2px;
  }
}
